#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;

}

.image {
  border-radius: 5px;
  border: 0;
  display: flex;
  /* position: relative; */
  height: 20em;
}

/* .image.main {
  display: block;
  height: 20em;
  border-radius: 0;
}

.image.main img {
  border-radius: 0;
} */


